body {
    padding-top: 60px;
}

/* 320x240 */
.screenshot-small {
    border: 1px solid #aaaaaa;
}

.hero-unit h1 {
    margin-bottom: 20px;
}

#hero-unit-btn {
    margin-top: 30px;
}

#code-to-grab {
    font: 11px 'courier new', courier, monospace;
    color: #444;
    width: 100%;
    height: 300px;
}

#hidden-widget-content {
    display: none;
}